/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'Tiempo';
  src: url("tiempo_headline_regular-webfont.woff2") format("woff2"), url("tiempo_headline_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
a {
  color: #38464A; }
  a:visited {
    color: #38464A; }
  a::selection {
    color: #F7E841;
    background-color: #38464A; }
  a:hover {
    color: #38464A;
    background-color: #F7E841; }

p a:hover {
  color: #F7E841;
  background-color: #38464A; }

body::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, img::selection, br::selection {
  background-color: #F7E841; }

h1, h2, h3, h4, h5 {
  font-family: 'Tiempo'; }

body {
  color: #38464A;
  background: #F5FAFC;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  -webkit-font-smoothing: antialiased; }

.container {
  margin-left: 32px;
  margin-right: 32px; }

.contents-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-around; }

.contents {
  margin-top: 30px; }

.stretch-height {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.note {
  color: gray;
  font-size: 14px; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.top-nav {
  height: 98px;
  display: flex;
  justify-content: flex-end; }

.hero-text {
  margin-bottom: 83px;
  position: absolute; }
  .hero-text .greeting {
    margin-bottom: 20px;
    font-size: 32px; }
  .hero-text .highlight {
    margin-top: 20px; }

.highlight {
  font-family: "Tiempo";
  font-weight: bold;
  font-size: 45px;
  line-height: 50px;
  margin-top: 24px; }
  .highlight a {
    text-decoration: none;
    transition: 0.3s;
    color: #38464A; }
    .highlight a:hover {
      text-decoration: underline;
      transition: 0.3s;
      color: #F7E841;
      background-color: #38464A; }

.hero-container {
  height: 100%;
  max-width: 698px; }

.hero {
  width: 100%; }

.artwork-and-text {
  position: relative;
  min-height: 300px; }

.artwork {
  position: absolute;
  left: -50px;
  width: 332px;
  height: 280px;
  background-color: #F7E841;
  border-radius: 8px;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15); }

.bio {
  position: relative; }

.about {
  line-height: 34px; }

.social-links-container {
  max-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px; }
  .social-links-container ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .social-links-container ul li {
      margin: 0;
      padding: 0; }

.social {
  width: 30px;
  height: 40px;
  background-position: center center;
  background-repeat: no-repeat; }
  .social a {
    height: 50px;
    position: relative;
    top: 0;
    padding: 5px;
    border-radius: 8px; }
    .social a:hover {
      animation-name: hover-wabble;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      transition-timing-function: ease-in; }
  .social img {
    height: 100%;
    width: 100%; }

.artwork {
  animation-name: wabble;
  animation-iteration-count: infinite;
  animation-duration: 8s; }

.job {
  max-width: 698px;
  border-top: 1px solid #CCD7DE;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
  padding-bottom: 32px; }
  .job h3 {
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1; }
  .job h4 {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #38464A;
    font-family: "Nunito", sans-serif;
    font-size: 23px;
    line-height: 34px; }
    .job h4 a {
      text-decoration: none; }
  .job p {
    margin-top: 8px;
    margin-bottom: 0;
    color: #38464A;
    font-size: 16px; }

.projects {
  display: flex;
  justify-content: start;
  margin-top: 24px;
  margin-bottom: 24px; }
  .projects .project {
    min-width: calc(33% - 26px);
    min-height: 153px;
    margin-right: 24px;
    background-color: white;
    background-size: contain;
    border-radius: 8px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.5s; }
    .projects .project:hover {
      transform: scale(1.1);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      transition: 0.5s; }
    .projects .project.cintric-analyst {
      background-image: url("../img/projects/cintric/cover-cintric-analyst.png"); }
    .projects .project.cintric-heartbeat {
      background-image: url("../img/projects/cintric/cover-retail-heartbeat.png"); }
    .projects .project.cintric-website {
      background-image: url("../img/projects/cintric/cover-cintric-website.png"); }
    .projects .project.compucom-lifecycle-portal {
      background-image: url("../img/projects/compucom/cover-lifecyce-portal.png"); }
    .projects .project.compucom-track-it {
      background-image: url("../img/projects/compucom/cover-track-it.png"); }
    .projects .project.dave-cs-dashboard {
      background-image: url("../img/projects/dave/cover-dave-cs-managment.png"); }
    .projects .project.ubermedia-vista-measurement {
      background-image: url("../img/projects/ubermedia/cover-vista-measurement.png"); }

@keyframes wabble {
  0% {
    transform: translate(0, 10px); }
  50% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, 10px); } }
@keyframes hover-wabble {
  0% {
    top: 0; }
  50% {
    top: -10px; }
  100% {
    top: 0; } }
@media only screen and (max-width: 414px) {
  .artwork-and-text {
    min-height: 360px; }

  .highlight {
    font-size: 40px;
    line-height: 1.1; } }
@media only screen and (max-width: 411px) {
  .artwork-and-text {
    min-height: 300px; }

  .highlight {
    font-size: 34px;
    line-height: 1.1; } }
@media only screen and (max-width: 375px) {
  .hero-text .greeting {
    margin-bottom: 14px;
    font-size: 27px; }

  .hero-text .highlight {
    margin-top: 14px; }

  .highlight {
    font-size: 33px;
    line-height: 1.1; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
