$gu-1:  8px;
$gu-2:  16px;
$gu-3:  24px;
$gu-4:  32px;
$gu-5:  40px;
$gu-6:  48px;
$gu-7:  56px;
$gu-8:  64px;
$gu-9:  72px;
$gu-10: 80px;


body {
  color: $black;
  // background: #E3E3E3;
  background: #F5FAFC;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $gu-3;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
}

.contents-container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.stretch-height {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
}

.hero-text {
  margin-bottom: 83px;
  .greeting {
    margin-bottom: 20px;
    font-size: $gu-4;
  }
  .highlight {
    margin-top: 20px;
  }
}

.highlight {
  font-family: 'Tiempo';
  font-weight: bold;
  font-size: 45px;
  line-height: 50px;
  margin-top: $gu-3;
  a {
    text-decoration: none;
    transition: 0.3s;
    color: #38464A;
  }
}
.highlight a:hover {
  text-decoration: underline;
  transition: 0.3s;
}




.hero-container {
  // height: 100vh;
  width: 698px;
}
.hero {
  width: 100%;
  height: 512px;
}

.artwork {
  position: relative;
  left: -50px;
  width: 332px;
  height: 280px;
  background-color: $primary;
  border-radius: $gu-1;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
}

.bio {
    position: relative;
    top: -271px;
}

.about {
  line-height: 34px;
}


.social-links-container {
  max-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin: 0;
      padding: 0;
    }
  }
}


.social {
  width: 30px;
  height: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  a {
    height: 50px;
    position: relative;
    top: 0;
    // top: 10px;
    // transition: 1s;
    &:hover {
      animation-name: hover-wabble;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      transition-timing-function: ease-in;
    }
  }
  img {
    height: 100%;
    width: 100%;
  }
}

.artwork {
  animation-name: wabble;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

// Animation 

@keyframes wabble {
    0%    {  transform: translate(0, 10px); }
    50%   {  transform: translate(0, 0);    }
    100%  {  transform: translate(0, 10px); }
}

@keyframes hover-wabble {
    0%    {  top: 0;      }
    50%   {  top: -10px;   }
    100%  {  top: 0;      }
}