$gu-1:  8px;
$gu-2:  16px;
$gu-3:  24px;
$gu-4:  32px;
$gu-5:  40px;
$gu-6:  48px;
$gu-7:  56px;
$gu-8:  64px;
$gu-9:  72px;
$gu-10: 80px;


body {
  color: $black;
  // background: #E3E3E3;
  background: #F5FAFC;
  font-family: $font-body;
  font-style: normal;
  font-weight: normal;
  font-size: $gu-3;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
}


// Helpers 
.container {
  margin-left: 32px;
  margin-right: 32px;
}

.contents-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
}
.contents {
  margin-top: 30px;
}

.stretch-height {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note {
  color: gray;
  font-size: 14px;
}

.text-left    { text-align: left;   }
.text-center  { text-align: center; }
.text-right   { text-align: right;  }

// Helpers - End

.top-nav {
  height: 98px;
  display: flex;
  justify-content: flex-end;
}

.hero-text {
  margin-bottom: 83px;
  position: absolute;
  .greeting {
    margin-bottom: 20px;
    font-size: $gu-4;
  }
  .highlight {
    margin-top: 20px;
  }
}

.highlight {
  font-family: $font-header;
  font-weight: bold;
  font-size: 45px;
  line-height: 50px;
  margin-top: $gu-3;
  a {
    text-decoration: none;
    transition: 0.3s;
    color: #38464A;
    &:hover {
      text-decoration: underline;
      transition: 0.3s;
      color: $primary;
      background-color: $black;

    }
  }
}

.hero-container {
  height: 100%;
  max-width: 698px;
}
.hero {
  width: 100%;
  // height: 512px;
}

.artwork-and-text {
  position: relative;
  min-height: 300px;
}

.artwork {
  position: absolute;
  left: -50px;
  width: 332px;
  height: 280px;
  background-color: $primary;
  border-radius: $gu-1;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
}

.bio {
    position: relative;
}

.about {
  line-height: 34px;
}


.social-links-container {
  max-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin: 0;
      padding: 0;
    }
  }
}


.social {
  width: 30px;
  height: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  a {
    height: 50px;
    position: relative;
    top: 0;
    padding: 5px;
    border-radius: 8px;
    &:hover {
      animation-name: hover-wabble;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      transition-timing-function: ease-in;
    }
  }
  img {
    height: 100%;
    width: 100%;
  }
}

.artwork {
  animation-name: wabble;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

// Job Styilng
.job {
  max-width: 698px;
  border-top: 1px solid #CCD7DE;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  h3 {
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1;
  }
  h4 {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #38464A;
    font-family: $font-body;
    font-size: 23px;
    line-height: 34px;
    a {
      text-decoration: none;
    }
  }
  p {
    margin-top: 8px;
    margin-bottom: 0;
    color: #38464A;
    font-size: 16px;
  }
}

.projects {
  display: flex;
  justify-content: start;
  margin-top: 24px;
  margin-bottom: 24px;
  .project {
    // background-color: $primary;
    // height: 30px;
    // width: 30px;
    // margin-right: 8px;
    // font-weight: bold;
    // font-size: 17px;
    // border-radius: 50%;
    // text-align: center;
    // text-decoration: none;
    // &:hover {
    //   color: $primary;
    //   background-color: $black;
    // }
    min-width: calc(33% - 26px);
    min-height: 153px;
    margin-right: 24px;
    background-color: white;
    background-size: contain;
    border-radius: 8px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      transition: 0.5s;
    }
    &.cintric-analyst {
      background-image: url('../img/projects/cintric/cover-cintric-analyst.png');
    }
    &.cintric-heartbeat {
      background-image: url('../img/projects/cintric/cover-retail-heartbeat.png');
    }
    &.cintric-website {
      background-image: url('../img/projects/cintric/cover-cintric-website.png');
    }
    &.compucom-lifecycle-portal {
      background-image: url('../img/projects/compucom/cover-lifecyce-portal.png');
    }
    &.compucom-track-it {
      background-image: url('../img/projects/compucom/cover-track-it.png');
    }
    &.dave-cs-dashboard {
      background-image: url('../img/projects/dave/cover-dave-cs-managment.png');
    }
    &.ubermedia-vista-measurement {
      background-image: url('../img/projects/ubermedia/cover-vista-measurement.png');
    }

  }  
}


// Animation 

@keyframes wabble {
    0%    {  transform: translate(0, 10px); }
    50%   {  transform: translate(0, 0);    }
    100%  {  transform: translate(0, 10px); }
}

@keyframes hover-wabble {
    0%    {  top: 0;      }
    50%   {  top: -10px;   }
    100%  {  top: 0;      }
}