body {
  color: #38464A;
  /*background: #E3E3E3;*/
  background: #F5FAFC;
  font-family: Larsseit;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;


}

.highlight {
  font-weight: bold;
  font-size: 45px;
  line-height: 54px;
  margin-top: 30px;
}
.highlight a {
  text-decoration: none;
  transition: 0.3s;
  color: #38464A;
}
.highlight a:hover {
  text-decoration: underline;
  transition: 0.3s;
}

.contents-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.hero-container {
  height: 100vh;
}
.hero {
  width: 698px;
  height: 752px;
}

.artwork {
    position: relative;
    top: 110px;
    left: -50px;
    width: 332px;
    height: 280px;
    background-color: #F7E841;
    border-radius: 8px;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
}

.bio {
    position: relative;
    top: -130px;
}

.dave {
  color: #0b9a40;
}

.ubermedia {
  color: #1c46f2;
}


.social-links-container {
  max-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.social-links-container ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-links-container ul li {
  margin: 0;
  padding: 0;
}
.social {
  width: 30px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  text-al
}
.social img {
  height: 100%;
  width: 100%;
}


.artwork {
  animation-name: wabble;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

@keyframes wabble {
    0%    {  transform:translate(0, 10px); }
    50%   {  transform:translate(0, 0); }
    100%  {  transform:translate(0, 10px); }
}